In [1]:
import matplotlib.pylab as plt
import numpy as np
import pandas as pd

In [2]:
data= pd.read_csv("data.csv")

In [3]:
data.head()

,1st,2nd,3rd,4th,5th,College Code,Gender,Roll,Roll no.,Subject Code
0,8.11,7.68,7.11,7.43,8.18,115,Female,NaN,17020.0,16
1,6.48,5.90,4.15,4.29,4.96,115,Male,NaN,17021.0,16
2,8.41,8.24,7.52,8.25,7.75,115,Female,NaN,17022.0,16
3,7.33,6.83,6.33,6.79,6.89,115,Male,NaN,17023.0,16
4,7.89,7.34,7.22,7.32,7.46,115,Male,NaN,17024.0,16

In [4]:
print(data)

      1st   2nd   3rd   4th   5th  College Code  Gender     Roll  Roll no.  \
0    8.11  7.68  7.11  7.43  8.18           115  Female      NaN   17020.0
1    6.48  5.90  4.15  4.29  4.96           115    Male      NaN   17021.0
2    8.41  8.24  7.52  8.25  7.75           115  Female      NaN   17022.0
3    7.33  6.83  6.33  6.79  6.89           115    Male      NaN   17023.0
4    7.89  7.34  7.22  7.32  7.46           115    Male      NaN   17024.0
..    ...   ...   ...   ...   ...           ...     ...      ...       ...
173  7.48  7.55  7.67  7.39  8.65           241       F  17048.0       NaN
174  7.30  6.41  6.59  7.11  7.38           241       M  17049.0       NaN
175  6.30  6.28  5.89  5.71  6.50           241       M  17050.0       NaN
176  7.04  7.10  6.81  7.00  6.92           241       M  17051.0       NaN
177  6.70  6.81  6.52  5.39  7.00           241       M  17052.0       NaN

     Subject Code
0              16
1              16
2              16
3              16
4              16
..            ...
173            28
174            28
175            28
176            28
177            28

[178 rows x 10 columns]

In [5]:
data.describe()

,1st,2nd,3rd,4th,5th,College Code,Roll,Roll no.,Subject Code
count,176.000000,174.000000,176.00000,173.000000,172.000000,178.000000,132.000000,46.000000,178.000000
mean,7.038864,6.943391,6.62250,7.027746,7.432558,152.983146,17040.666667,17042.500000,18.359551
std,0.859521,0.881088,0.91926,1.035675,1.068866,48.357599,13.622874,13.422618,4.782849
min,3.850000,3.900000,3.96000,4.290000,4.000000,115.000000,17017.000000,17020.000000,16.000000
25%,6.440000,6.380000,6.14000,6.330000,6.750000,115.000000,17029.000000,17031.250000,16.000000
50%,7.070000,6.800000,6.68500,7.070000,7.590000,116.000000,17040.000000,17042.500000,16.000000
75%,7.590000,7.612500,7.26000,7.860000,8.210000,165.000000,17051.000000,17053.750000,16.000000
max,9.150000,9.210000,9.59000,9.310000,9.460000,241.000000,17067.000000,17065.000000,28.000000

In [6]:
data.isnull().sum()

1st               2
2nd               4
3rd               2
4th               5
5th               6
College Code      0
Gender            1
Roll             46
Roll no.        132
Subject Code      0
dtype: int64

In [7]:
avg_1st_Marks= data["1st"].astype("float64").mean(axis=0)
avg_2nd_Marks= data["2nd"].astype("float64").mean(axis=0)
avg_3rd_Marks= data["3rd"].astype("float64").mean(axis=0)
avg_4th_Marks= data["4th"].astype("float64").mean(axis=0)
avg_5th_Marks= data["5th"].astype("float64").mean(axis=0)

In [8]:
print("Average marks of first paper: ", avg_1st_Marks)
print("Average marks of second paper: ", avg_2nd_Marks)
print("Average marks of third paper: ", avg_3rd_Marks)
print("Average marks of fourth paper: ", avg_4th_Marks)
print("Average marks of fifth paper: ", avg_5th_Marks)

Average marks of first paper:  7.038863636363637
Average marks of second paper:  6.943390804597701
Average marks of third paper:  6.6225
Average marks of fourth paper:  7.027745664739886
Average marks of fifth paper:  7.432558139534884

In [10]:
data.loc[data["1st"].isnull(), "1st"] = avg_1st_Marks
data.loc[data["2nd"].isnull(), "2nd"] = avg_2nd_Marks
data.loc[data["3rd"].isnull(), "3rd"] = avg_3rd_Marks
data.loc[data["4th"].isnull(), "4th"] = avg_4th_Marks
data.loc[data["5th"].isnull(), "5th"] = avg_5th_Marks

In [11]:
data.isnull().sum()

1st               0
2nd               0
3rd               0
4th               0
5th               0
College Code      0
Gender            1
Roll             46
Roll no.        132
Subject Code      0
dtype: int64

In [12]:
max_1st= data["1st"].max()
max_2nd= data["2nd"].max()
max_3rd= data["3rd"].max()
max_4th= data["4th"].max()
max_5th= data["5th"].max()

In [14]:
print(max_1st, max_2nd, max_3rd, max_4th, max_5th)

9.15 9.21 9.59 9.31 9.46

In [15]:
cgpa_columns= ["1st", "2nd", "3rd", "4th", "5th"]
max_values= [max_1st, max_2nd, max_3rd, max_4th, max_5th]

In [16]:
for col, max_value in zip(cgpa_columns, max_values):
    data[col+ '_Percentage']= (data[col] / max_value) *100

In [17]:
print(data)

      1st   2nd   3rd   4th   5th  College Code  Gender     Roll  Roll no.  \
0    8.11  7.68  7.11  7.43  8.18           115  Female      NaN   17020.0
1    6.48  5.90  4.15  4.29  4.96           115    Male      NaN   17021.0
2    8.41  8.24  7.52  8.25  7.75           115  Female      NaN   17022.0
3    7.33  6.83  6.33  6.79  6.89           115    Male      NaN   17023.0
4    7.89  7.34  7.22  7.32  7.46           115    Male      NaN   17024.0
..    ...   ...   ...   ...   ...           ...     ...      ...       ...
173  7.48  7.55  7.67  7.39  8.65           241       F  17048.0       NaN
174  7.30  6.41  6.59  7.11  7.38           241       M  17049.0       NaN
175  6.30  6.28  5.89  5.71  6.50           241       M  17050.0       NaN
176  7.04  7.10  6.81  7.00  6.92           241       M  17051.0       NaN
177  6.70  6.81  6.52  5.39  7.00           241       M  17052.0       NaN

     Subject Code  1st_Percentage  2nd_Percentage  3rd_Percentage  \
0              16       88.633880       83.387622       74.139729
1              16       70.819672       64.060803       43.274244
2              16       91.912568       89.467970       78.415016
3              16       80.109290       74.158523       66.006257
4              16       86.229508       79.695983       75.286757
..            ...             ...             ...             ...
173            28       81.748634       81.976113       79.979145
174            28       79.781421       69.598263       68.717414
175            28       68.852459       68.186754       61.418144
176            28       76.939891       77.090119       71.011470
177            28       73.224044       73.941368       67.987487

     4th_Percentage  5th_Percentage
0         79.806660       86.469345
1         46.079484       52.431290
2         88.614393       81.923890
3         72.932331       72.832981
4         78.625134       78.858351
..              ...             ...
173       79.377014       91.437632
174       76.369495       78.012685
175       61.331901       68.710359
176       75.187970       73.150106
177       57.894737       73.995772

[178 rows x 15 columns]