In [78]:
import pandas as pd
import numpy as np
import statistics as st

In [79]:
data= pd.read_csv("iris.csv")

In [80]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [82]:
data.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [83]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [84]:
summary= data.groupby('species')['sepal_length'].describe()
print(summary)

                 count   mean       std  min    25%  50%  75%  max
species
Iris-setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [85]:
def custom_describe(x):
    mode_value= st.mode(x)
    median_value= np.median(x)
    return pd.Series([x.count(), x.mean(), x.std(), mode_value, median_value, x.min(), x.max()], 
                       index=['count', 'mean', 'std', 'mode', 'median', 'min', 'max'])

In [86]:
summary_with_mode_median= data.groupby('species')['sepal_length'].apply(custom_describe)
print(summary_with_mode_median)

species
Iris-setosa      count     50.000000
                 mean       5.006000
                 std        0.352490
                 mode       5.100000
                 median     5.000000
                 min        4.300000
                 max        5.800000
Iris-versicolor  count     50.000000
                 mean       5.936000
                 std        0.516171
                 mode       5.500000
                 median     5.900000
                 min        4.900000
                 max        7.000000
Iris-virginica   count     50.000000
                 mean       6.588000
                 std        0.635880
                 mode       6.300000
                 median     6.500000
                 min        4.900000
                 max        7.900000
Name: sepal_length, dtype: float64

In [87]:
mode_summary= data.groupby('species')['sepal_length'].apply(st.mode)
print("Mode= \n", mode_summary)

Mode=
 species
Iris-setosa        5.1
Iris-versicolor    5.5
Iris-virginica     6.3
Name: sepal_length, dtype: float64

In [88]:
median_summary= data.groupby('species')['sepal_length'].apply(np.median)
print("Median= \n", median_summary)

Median=
 species
Iris-setosa        5.0
Iris-versicolor    5.9
Iris-virginica     6.5
Name: sepal_length, dtype: float64

In [89]:
species_stats= data.groupby('species').describe()
print(species_stats)

                sepal_length                                              \
                       count   mean       std  min    25%  50%  75%  max
species
Iris-setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

                sepal_width         ... petal_length      petal_width         \
                      count   mean  ...          75%  max       count   mean
species                             ...
Iris-setosa            50.0  3.418  ...        1.575  1.9        50.0  0.244
Iris-versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
Iris-virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                      std  min  25%  50%  75%  max
species
Iris-setosa      0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [61]:
setosa_stats= data[data['species']=='Iris-setosa'].describe()
print("Setosa stats \n", setosa_stats)

Setosa stats
        sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

In [62]:
versicolor_stats= data[data['species']=='Iris-versicolor'].describe()
print("Versicolor stats \n", versicolor_stats)

Versicolor stats
        sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

In [63]:
virginica_stats= data[data['species']=='Iris-virginica'].describe()
print("Virginica stats \n", virginica_stats)

Virginica stats
        sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000